<header>
  <h1>Kanban using Kendo</h1>
</header>
<sidebar
  [users]="service.users"
  (openPopup)="show = true"
  (filterByAssignee)="service.filterAssignees($event)"
></sidebar>

<div class="container">
  <h2>Tasks</h2>
  <div class="tasks">
    <task-list label="TODO" [tasks]="tasks['TODO']"></task-list>
    <task-list label="In Progress" [tasks]="tasks['In Progress']"></task-list>
    <task-list label="QA" [tasks]="tasks['QA']"></task-list>
    <task-list label="Done" [tasks]="tasks['Done']"></task-list>
  </div>
</div>

<popup *ngIf="show" [users]="service.users" (closePopup)="show = false"></popup>
