<header>
  <h1>Kanban using Kendo</h1>
</header>
<sidebar [users]="users" (openPopup)="show = true"></sidebar>

<div class="container">
  <h2>Tasks</h2>
  <div class="tasks">
    <task-list label="TODO" [tasks]="todoTasks"></task-list>
    <task-list label="TODO" [tasks]="inProgressTasks"></task-list>
    <task-list label="TODO" [tasks]="QATasks"></task-list>
    <task-list label="TODO" [tasks]="doneTasks"></task-list>
  </div>
</div>

<popup
  *ngIf="show"
  [users]="users"
  (newTaskCreated)="todoTasks.push($event)"
  (closePopup)="show = false"
></popup>
