@import "../styles.scss";

header {
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;

  h1 {
    color: $highlight-primary;
    text-align: center;
  }
}

.container {
  width: calc(100% - 300px);
  height: calc(100vh - 77px);
  margin-left: auto;
  margin-top: 77px;
  padding: 20px;
  overflow: auto;

  h2 {
    color: $bg-primary;
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
  }

  .tasks {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
