<header>
  <h1>Kanban using Kendo</h1>
</header>
<sidebar [users]="service.users" (openPopup)="show = true"></sidebar>

<div class="container">
  <h2>Tasks</h2>
  <div class="tasks">
    <task-list label="TODO" [tasks]="service.todoTasks"></task-list>
    <task-list
      label="In Progress"
      [tasks]="service.inProgressTasks"
    ></task-list>
    <task-list label="QA" [tasks]="service.QATasks"></task-list>
    <task-list label="Done" [tasks]="service.doneTasks"></task-list>
  </div>
</div>

<popup
  *ngIf="show"
  [users]="service.users"
  (newTaskCreated)="service.todoTasks.push($event)"
  (closePopup)="show = false"
></popup>
