/* You can add global styles to this file, and also import other style files */
$highlight-primary: #ff6358;
$bg-primary: #42213d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// /* width */
// ::-webkit-scrollbar {
//   width: 30px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: rgba($bg-primary, 0.2);
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $highlight-primary;
//   width: 30px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: darken($color: $highlight-primary, $amount: 0.5);
// }
